
body {
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
  background-color: #CCCCFF;
  font-size: 16px;
}

.App {
  text-align: center;
}

h1#main-title {
  width: 100%;
  display: block;
  background-color: #CCD1D1;
  justify-self: stretch;
  text-align: center;
  font-family: "Playwrite DK Loopet", cursive;
  font-size: 32px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div#table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

table.related-artists-container {
  text-align: center;
  border: 3px solid #BB8FCE;
  background-color: #6495ED;
}

thead {
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #82E0AA;
}

tr:nth-child(odd) {
  background-color: #BB8FCE;
}

td {
  padding: 20px;
}